#textPaso {
    position: fixed;
    top: 30%;
    left: 50%;
}

table {
    border-collapse: collapse;
}

input[type="text"] {
    width: 750px;
    font-weight: bolder;
    font-size: 1.8em;
}
